html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row {
    background: #f6f6f6;
    border: 1px solid #ccc;
    overflow: hidden;
    padding: 11px;
}

.col-label {
    float: left;
    width: 20%;
}


col-txtbox-2{
    float: left;
}

.txtbox-1 {
    width: 40%;
}

.txtbox-2 {
    width: 100%;
    float: left;
}

.txtbox-3{
    width: 30%;
}

.txtbox-4{
    float: left;
}

.txt-defaults {
    font-size: 16px;
}

.Enq_Table{
    font-size: 10px;
    float: left;
}

.Ori_Table 
{
    font-size: 10px;
    float: left;
}

.Art_Table {
    font-size: 10px;
    float: left;
}