@page
@using Microsoft.Data.SqlClient;

@model ArtworkModel
@{
    ViewData["Title"] = "Artworks";
}
<h1>@ViewData["Title"]</h1>

<p>This page is used to view Accepted Artworks</p>
<div class="Art_Table">
    <table>
        <tr>
            <th>Artwork Reference</th>
            <th>Enquiry No</th>
            <th>Issue No</th>
        </tr>

        @{
            using (var connection = new SqlConnection(ConnectionManager.ConnectionString))
            {
                connection.Open();
                var command = new SqlCommand("SELECT * FROM  [Live Artworks]", connection);
                using (var reader = command.ExecuteReader())
                {
                    while (reader.Read())
                    {
                        <tr>
                            <td>@reader["Artwork Reference"]</td>
                            <td>@reader["Enquiry No"]</td>
                            <td>@reader["Issue No"]</td>
                        </tr>
                    }
                }
            }
        }
    </table>

</div>
