@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
    //var EnquiryNo = "";
    //var EnquiryIssueNo = "";
    //var RequestedDate = "";
    //var RequestedBy = "";
    //var Customer = "";
    //var CustomerContact = "";
    //var CustomerPartNo = "";
    //var ArtworkType = "";
    //var CustomerDescription = "";
    //var ProductID = "";
    //var StrokeNo = "";
    //var ComponentSpec = "";
    //var ComponentNeck = "";
    //var ComponentTool = "";
    //var ColourPrefixOne = "";
    //var ColourPrefixTwo = "";
    //var Colour = "";
    //var MasterbatchReference = "";
    //var ScreenPassesRequested = "";
    //var FoilPassesRequested = "";
    //var DecorationStartDate = "";
    //var SalesNotes = "";

    ////@if (IsPost && Validation.IsValid())
    //{
    //    var db = Database.Open();
    //    var insertSQL = "INSERT INTO Artworks (EnquiryNo, EnquiryIssueNo) VALUES (@0, @1, @2)";
    //    db.Execute(insertSQL, EnquiryNo, EnquiryIssueNo, RequestedDate, RequestedBy, Customer, 
    //        CustomerContact, CustomerPartNo, ArtworkType, CustomerDescription, ProductID, StrokeNo, ComponentSpec,
    //    ComponentNeck, ComponentTool, ColourPrefixOne, ColourPrefixTwo, Colour, MasterbatchReference, ScreenPassesRequested,
    //    FoilPassesRequested, DecorationStartDate, SalesNotes);

    //    Response.Redirect("/Movies");

    //    EnquiryNo = Request.Form["EnquiryNo"];
    //    EnquiryIssueNo = Request.Form["EnquiryIssueNo"];
    //    RequestedDate = Request.Form["RequestedDate"];
    //    RequestedBy = Request.Form["RequestedBy"];
    //    Customer = Request.Form["Customer"];
    //    CustomerContact = Request.Form["CustomerContact"];
    //    CustomerPartNo = Request.Form["CustomerPartNo"];
    //    ArtworkType = Request.Form["ArtworkType"];
    //    CustomerDescription = Request.Form["CustomerDescription"];
    //    ProductID = Request.Form["ProductId"];
    //    StrokeNo = Request.Form["StrokeNo"];
    //    ComponentSpec = Request.Form["ComponentSpec"];
    //    ComponentNeck = Request.Form["ComponentNeck"];
    //    ComponentTool = Request.Form["ComponentTool"];
    //    ColourPrefixOne = Request.Form["ColourPrefixOne"];
    //    ColourPrefixTwo = Request.Form["ColourPrefixTwo"];
    //    Colour = Request.Form["Colour"];
    //    MasterbatchReference = Request.Form["MasterbatchReference"];
    //    ScreenPassesRequested = Request.Form["ScereenPassesRequestede"];
    //    FoilPassesRequested = Request.Form["FoilPassesRequested"];
    //    DecorationStartDate = Request.Form["DecorationStartDate"];
    //    SalesNotes = Request.Form["SalesNotes"];
    //}

}

<div class="text-center">
    <h1 class="display-4">Artwork Home Page</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core">Create a New Artwork Enquiry</a></p>
    <form method="post">
        <fieldset>
            <div class="txt-defaults">
                <div class="form">
                    
                        <div class="col-label">
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                            </div>
                        </div>
                    </div>
                    <br /><br />

                    <div class="row">
                        <div class="col-label">
                            <label for="RequestedDate">Requested Date</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="date" id="RequestedDate"/>
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="RequestedBy">Requested By</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="RequestedBy"  />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="Customer">Customer</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="Customer" />
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="CustomerContact">Customer Contact</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="CustomerContact" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="CustomerPartNo">Customer Part No</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="CustomerPartNo" />
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="ArtworkType">Artwork Type</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="ArtworkType" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="CustomerDescription">Customer Description</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="CustomerDescription" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="SalesSpec_ProductNo">Sales Spec</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-1" type="text" id="SalesSpec_ProductNo"  />
                                <label>/</label>
                                <input class="txtbox-1" type="text" id="SalesSpec_StrokeNo"  />
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="ComponentSpec">Component Specification</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-3" type="text" id="ComponentSpec" />
                                <input class="txtbox-3" type="text" id="ComponentNeck" />
                                <input class="txtbox-3" type="text" id="ComponentTool" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="ComponentColour">Component Colour</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-3" type="text" id="ColourPrefixOne"  />
                                <input class="txtbox-3" type="text" id="ColourPrefixTwo"  />
                                <input class="txtbox-3" type="text" id="Colour" />
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="MastbatchReference">Masterbatch Reference</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="MasterbatchReference" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="ScreenPassesRequested">Screen Passes Requested</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="ScreenPassesRequested"  />
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="FoilPassesRequested">Foil Passes Requested</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="FoilPassesRequested" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="BatchNo">Batch No</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="BatchNo" />
                            </div>
                        </div>
                        <div class="col-label">
                            <label for="DecorationStartDate">Decoration Start Date</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="date" id="DecorcationStartDate" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-label">
                            <label for="SalesNotes">Sales Notes</label>
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <input class="txtbox-2" type="text" id="SalesNotes"  />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-txtbox-1">
                        </div>
                        <div class="col">
                            <div class="col-txtbox-1">
                                <button>Save Changes</button>
                            </div>
                        </div>
                    </div>
                
            </div>
        </fieldset>
    </form>
</div>
